@import '../../App.scss';
.d-flex{
align-items: center !important;
}

.homeBtns{
    margin: 0 0.5rem !important;
    text-decoration: none !important;
    color: $basic-orange;
}
.forBusBtn{
    background-color: $basic-orange !important;
    color: black;
    border-color: transparent !important;
    display: flex;justify-content: center;align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}