@import '../../App.scss';

.backgroundbDiv{
    background-image: url(https://github.com/KholodKhadeja/ProjectImages/blob/main/bg3.jpg?raw=true);
      height: 100vh !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .registerbPageDiv{
        height: 100vh !important;
    background-color: rgba(255, 255, 255, 0.357);
    }
    .regsterbForm{
        width: 30vw;
        text-align: left !important;
        margin: 1rem auto !important;
        font-weight: bolder;
        text-shadow: 2px -1px 18px white;
    }

 .visibleForm{
        display: block;
    }
    
.hiddenForm{
        display: none !important;
    }